{% extends "base.html" %}

{% block content %}
<section id="contact" class="container">
    <h2>Contact Me</h2>
    <div class="contact-info">
        <ul>
            <li>
                <a href="https://wa.me/601151257919" target="_blank">
                    <i class="fab fa-whatsapp"></i> WhatsApp: +60 11-5125 7919
                </a>
            </li>
            <li>
                <a href="mailto:shahrizxl@gmail.com">
                    <i class="fas fa-envelope"></i> Email: shahrizxl@gmail.com
                </a>
            </li>
            <li>
                <a href="tel:+601151257919">
                    <i class="fas fa-phone"></i> Phone: +60 11-5125 7919
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/shahrizxl" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn: Shahrizal Samsudeen
                </a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}