{% extends "base.html" %}

{% block content %}
<section id="events" class="container">
    <h2>Projects</h2>
    <div class="events-list">
        <div class="event">
            <h3>Trash and Treasure (Mini Shopee)</h3>
            <p>Trash and Treasure (Mini Shopee) is a buying and selling platform that operates with four key roles: Customer, Admin, Courier, and Sponsor. The project functions similarly to an e-commerce website, facilitating seamless transactions between buyers and sellers while incorporating administrative and logistical support.</p>
            <a href="https://github.com/shahrizxl/Software_Engineer" class="btn">View Project</a>
        </div>
        <div class="event">
            <h3>Rock Paper Scissor</h3>
            <p>This Rock Paper Scissors game is a Flask-based web application where players compete against the computer by selecting Rock, Paper, or Scissors. The computer randomly picks its choice, and the winner is determined based on traditional game rules. Each round's results, including the player's choice, computer's choice, and outcome, are stored in a CSV file for future analysis. The game also provides statistical insights, such as the total number of times each choice was made, win/loss/draw counts, and percentage calculations. Flask handles the backend logic, while HTML and CSS are used for the frontend.</p>
            <a href="https://github.com/shahrizxl/rock_paper_scissor" class="btn">View Project</a>
        </div>
        <div class="event">
            <h3>CPU Scheduler System</h3>
            <p>This project is a CPU Scheduling System built using Flask, which simulates different scheduling algorithms including Non-Preemptive, Preemptive, Round Robin, and Priority Non-Preemptive Scheduling. The system takes process details as input, applies the selected scheduling algorithm, and visualizes the execution order, turnaround time, and waiting time. It helps in understanding and comparing CPU scheduling techniques by displaying real-time results through a web-based interface. This project improved my skills in Flask, algorithm implementation, and data visualization.</p>
            <a href="https://github.com/shahrizxl/OS_Assignment" class="btn">View Project</a>
        </div>
        <div class="event">
            <h3>Movie Recommender System</h3>
            <a href="#" class="btn">Coming soon</a>
        </div>
    </div>
</section>
{% endblock %}