{% extends "base.html" %}

{% block content %}
<section id="events" class="container">
    <h2>Skills</h2>
    <div class="events-list">
        <div class="event">
            <h3>Technical Skills</h3>
            <p>Python, MySQL, Flask, Pandas, Numpy, Matplotlib, HTML and CSS, LaTeX, and Microsoft Office.</p>
        </div>
        <div class="event">
            <h3>Soft Skills</h3>
            <p>Self-management, Teamwork, Leadership, Attention to detail, Critical thinking, Project management, and Time management.</p>
        </div>
        <div class="event">
            <h3>Other Skills</h3>
            <p>Canva, CapCut, and Figma.</p>
        </div>
    </div>
</section>
{% endblock %}